<div  class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center">Consulta de Actividades</h5>
    <span class="badge bg-danger">No hay registros que consultar</span>
  </div>
</div>
<div  class="card mb-3">

  <div class="card-body">
      <p class="card-text"><span>Nombre: </span></p>
      <p class="card-text"><span>Fecha: </span></p>
      <p class="card-text"><span>Hora: </span></p>
      <p class="card-text"><span>Descripcion: </span></p>
      <button style="width: 100%;" class="btn btn-danger btn-block" >ELIMINAR</button>
  </div>
</div>
